@using Softwareschmiede.Domain.Enums

<span class="badge @GetCssClass()">@GetLabel()</span>

@code {
    [Parameter] public AufgabeStatus Status { get; set; }

    private string GetCssClass() => Status switch
    {
        AufgabeStatus.Neu => "badge-offen",
        AufgabeStatus.ArbeitsverzeichnisEingerichtet => "badge-in-bearbeitung",
        AufgabeStatus.Gestartet => "badge-in-bearbeitung",
        AufgabeStatus.InArbeit => "badge-ki-aktiv",
        AufgabeStatus.Wartend => "badge-tests-laufen",
        AufgabeStatus.Beendet => "badge-abgeschlossen",
        AufgabeStatus.Archiviert => "badge-archiviert",
        _ => ""
    };

    private string GetLabel() => Status switch
    {
        AufgabeStatus.Neu => "Neu",
        AufgabeStatus.ArbeitsverzeichnisEingerichtet => "Eingerichtet",
        AufgabeStatus.Gestartet => "Gestartet",
        AufgabeStatus.InArbeit => "In Arbeit",
        AufgabeStatus.Wartend => "Wartend",
        AufgabeStatus.Beendet => "Beendet",
        AufgabeStatus.Archiviert => "Archiviert",
        _ => Status.ToString()
    };
}
